.mainContainer{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogContainer{
    box-shadow: 0 0 5px 0 lightgrey;
    background-color: white;
    font-size: 18px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
}

.successIcon{
    font-size: 70px;
    color: #2962FF;
}

.successMsg , .errorMsg{
    font-weight: bold;
    font-size: 25px;
}

.errorIcon{
    font-size: 70px;
    color: red;
}