.mainContainer{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 lightgrey;
}

::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot{
    border-radius: 0;
    border-right: 1px solid lightgrey;
}
::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot > .v-input__prepend-inner {

    color: #2962FF;
}
::v-deep .countrySearchInput >.theme--light.v-text-field--solo > .v-input__control > .v-input__slot{
    padding-left: 0;
}
::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot > .v-select__slot{

    margin-left: 10px;
}
::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot > .v-text-field__slot{

    margin-left: 10px;
}

::v-deep .v-text-field.v-text-field--solo .v-input__control input{
    font-size: 20px;
}

::v-deep .v-text-field.v-text-field--solo .v-label{
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.searchButton > button{
    background-color: #2962FF !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-transform: none;
}


::v-deep .v-date-picker-table .v-btn.v-btn--active{
    background-color: #2962FF;
    color: white;
    font-weight: 700;
}

::v-deep .v-picker__title{
    background-color: #2962FF;
}


::v-deep .priceContainer .v-text-field__suffix{
    font-family: arial;
    font-weight: 700;
    font-size: 18px;
}

.closeSearchMenuButton{
    width: 25px;
    height: 25px;
    background-color: #2962FF;
    color: white;
    text-align: center;
    border-radius: 100px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 2%;
    right: 7%;
    display: none;
}

.closeSearchMenuButton > svg{
    vertical-align: middle;
}


.searchInput {
    flex: 0 0 15.3%;
    align-self: center;
}

.searchButton{

    flex: 0 0 8%;
    
}

/*      Media Queries     */



@media screen and (max-width: 1557px){


    .searchButton > button{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        font-size: 14px;

    }

    .searchInput{
        margin-top:0 !important;
        margin-bottom: 0 !important;
    }

    ::v-deep .theme--light.v-text-field--solo > .v-input__control{
        min-height: 0;
    }

    ::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot > .v-input__prepend-inner {

        font-size: 12px;
    }

    ::v-deep .v-text-field.v-text-field--solo .v-input__control input{
        font-size: 12px;
    }
    
    ::v-deep .v-text-field.v-text-field--solo .v-label{
        font-size: 12px;
    }

    ::v-deep .v-text-field--rounded > .v-input__control > .v-input__slot{
        padding: 0 14px;
    }

}

@media screen and (max-width: 1280px){


    .mainContainer{
        padding-left: 1rem !important;
        padding-right: 0.5rem !important;
    
    }

}


@media screen and (max-width: 991px){

    .mainContainer{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    
    .mainContainer{
        border-radius: 25px;
    }

    .closeSearchMenuButton{
        display: block;
    }

    .searchInput {

        flex:0 0 100%;
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;

    }


    ::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot{
        padding-left: 0px;
    }

    .searchButton{
        flex: 0 0 100%
    }

    ::v-deep .theme--light.v-text-field--solo > .v-input__control > .v-input__slot{
        border-radius: 0;
        border-bottom: 1px solid #d3d3d34d;
        border-right: none;
    }

    ::v-deep .v-text-field--rounded > .v-input__control > .v-input__slot{
        padding: 20px 14px;
    }
    


}


@media screen and ( max-height: 550px){

    .mainContainer{
        justify-content: space-between;
    }

    .searchInput , .searchButton{
        flex: 0 0 48%;
        max-width: 48%;
        margin: 16px 0;
    }
}