.mainContainer{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer , .successContainer , .errorDialog , .dialogContainer{
    box-shadow: 0 0 5px 0 lightgrey;
    background-color: white;
    font-size: 18px;
    padding-top: 6rem;
    padding-bottom: 6rem;
}


.sendButtonContainer > button{
    color: white;
    background-color: #2962FF;
    border-radius: 5px;
    font-weight: bold;
}

.title{
    font-size: 25px;
    font-weight: bold;
}

.successIcon{
    font-size: 50px;
    color: #2962FF;
}

.successMsg{
    font-weight: bold;
    font-size: 20px;
}

.errorIcon{
    font-size: 50px;
    color: red;
}

.errorMsg{
    font-weight: bold;
    font-size: 20px;
}

.loadingSpinner{

    width: 1.1rem  !important;
    height: 1.1rem !important;
    border-width: 0.15em !important;
    
}


::v-deep .error--text{
    color: red;
    font-weight: bold;
}